:root {
    font-size: 62.5%;
    --color-white: #ffff;
    --block-color: #353535;
    --orange-color: #FF7A00;
    --text-color: #C8C8C8;
    --color-black: #000;
}

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-cyrillic_latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 24px;
    background-color: var(--color-black);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Montserrat;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(104deg, #FF8A00 28.97%, rgba(255, 31, 0, 0.00) 120.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 167px;
    margin: 0;
}

h2 {
    color: var(--color-white);
    font-family: Montserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    margin: 0;
}

.web_developer {
    font-family: Montserrat;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
    max-width: 555px;
    background: linear-gradient(93deg, #FF8A00 10.24%, #FF1F00 105.07%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    margin: 0;
    color: var(--orange-color);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

h4 {
    margin: 0;
    color: var(--color-white);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}

p {
    font-family: Montserrat;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    margin: 0;
}

.block_header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin: auto;
    margin-top: 30px;
    max-width: 1304px;
    max-height: 100px;
    border-radius: 20px;
    background: var(--block-color);
}

.arrow {
    min-width: 304px;
    min-height: 269px;
}

.tahirov {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.standart_block {
    max-width: 1304px;
    max-height: 240px;
    flex-shrink: 0;
    background-color: var(--block-color);
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    padding: 24px;
}

.line {
    margin: auto;
    width: 170px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--orange-color);
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

li {
    list-style-type: none;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
}

.i_am {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    max-height: 50px;
    max-width: 200px;
    margin-top: 3px;
    margin: auto;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(99deg, #FF7A00 19.72%, #FF1F00 100.14%);
}

.get_con {
    color: var(--color-black);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
}

.i_have {
    max-width: 722px;
    color: var(--color-white);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.42px;
}

.book {
    min-width: 304px;
    min-height: 276px;
    margin-right: 20px;
}

.student {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about_me {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.fighter_zone {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.fighter_icon {
    max-width: 333px;
    max-height: 333px;
}

.big_block {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1304px;
    max-height: 480px;
    border-radius: 20px;
    padding: 24px;
    background: #353535;
}

.expo_fan {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;

}

.in_work_images {
    object-fit: contain;
    height: auto;
    max-height: 265px;
    width: 50%;
}

.myself {
    margin-top: -20px;
    color: var(--orange-color);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

.circles {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 30px;
}

.sector {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.job_area {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.my_expo {
    display: flex;
    gap: 18px;

}

.item {
    color: var(--color-white);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.32px;
}

.in_work {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_full {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.sites {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.my_sites {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.find_me {
    display: flex;
    flex-direction: column;
    gap: 22px;
    color: var(--color-white);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}

.margin_auto {
    margin: auto;
}

.burger {
    display: none;
}

@media screen and (max-width: 800px) {
    .burger {
        display: initial;
    }

    .nav {
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    .big_block {
        max-height: none;
    }

    .standart_block {
        max-height: none;

    }
}

@media screen and (max-width: 740px) {


    .big_block {
        flex-wrap: wrap;
    }

    .standart_block {
        flex-wrap: wrap;
    }

    .circles {
        margin-bottom: calc(8% - 10px);
    }

    .expo_fan {
        flex-wrap: wrap;
    }

    .arrow {
        margin: auto;
    }

    .book {
        margin: auto;
    }

    .big_block {
        margin-top: 30px;
    }

    .standart_block {
        margin-top: 30px;
    }

    .block_header {

        margin-top: 10px;
    }
}

@media screen and (max-width: 420px) {

    .web_developer {
        font-size: 4.2rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    li {
        font-size: 1.5rem;
    }

    body {
        padding: 10px;
    }

    .big_block {
        flex-wrap: nowrap;
    }

    .sites {
        gap: 40px;
    }

    .arrow {
        min-width: 100px;
    }

    .book {
        min-width: 100px;
    }

    .circles {
        margin-bottom: auto;
    }
}